html, body {
    padding: 0;
    margin: 0;
}

header nav#navbar {
    width: 100%;
    height: 10vh;
}

header nav#navbar ul {
    top: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 10px ;
    margin: 0;
    height: 5vh;
}

li.lien {
    padding: 10px ;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;


}

li.lien:hover {
    background-color: black;
    border-radius: 10px;
    color: white;
}

li#logo img.logo {
    height: 7vh;
}

li#logo {
    justify-self: flex-start;
    position: absolute;
    left: 10px;
}

