@font-face {
    font-family: 'Comfortaa';
    src: URL('/vue/assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  }

* {
    font-family: Comfortaa;
    text-decoration: none;
    color: currentColor;
}

html, body {
    padding: 0;
    margin: 0;
}

header nav#navbar {
    width: 100%;
}

header nav#navbar ul {
    top: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    padding: 10px ;
    margin: 0;
    height: 5vh;
}

li.lien {
    padding: 10px ;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;


}

li.lien:hover {
    background-color: black;
    border-radius: 10px;
    color: white;
}

li#logo img.logo {
    height: 7vh;
}

li#logo {
    color: white;
    font-size: 2.1em;
    position: absolute;
    left: 4%;}

div#pageAcceuil h1 {
    text-align: center;
    margin-top: -30%;
    color: white;
    font-size: 2.5em;
}



div#pageAcceuil, div#page  {
    background-image: url('/vue/assets/images/background.jpeg');
    height: 100vh;
    width: 100vw;
    top :0;
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

div#gamepage {
    height: 100vh;
    width: 100vw;
    top :0;
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}



form#user {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 100px;
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 5px 5px 30px -7px #000000; 
    box-shadow: 5px 5px 30px -7px #000000;}

form#user input {
    margin-top: 10%;
    z-index: 99;
}

form#game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}
